[submodule "modules/npd6"]
	path = modules/npd6
	url = ../puppet-npd6
[submodule "modules/apache_httpd"]
	path = modules/apache_httpd
	url = ../puppet-apache_httpd
[submodule "modules/bind"]
	path = modules/bind
	url = ../puppet-bind
[submodule "modules/csync2"]
	path = modules/csync2
	url = ../puppet-csync2
[submodule "modules/dhcpd"]
	path = modules/dhcpd
	url = ../puppet-dhcpd
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = ../puppet-elasticsearch
[submodule "modules/git"]
	path = modules/git
	url = ../puppet-git
[submodule "modules/keepalived"]
	path = modules/keepalived
	url = ../puppet-keepalived
[submodule "modules/lsyncd"]
	path = modules/lsyncd
	url = ../puppet-lsyncd
[submodule "modules/memcached"]
	path = modules/memcached
	url = ../puppet-memcached
[submodule "modules/moxi"]
	path = modules/moxi
	url = ../puppet-moxi
[submodule "modules/php"]
	path = modules/php
	url = ../puppet-php
[submodule "modules/puppet"]
	path = modules/puppet
	url = ../puppet-puppet
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = ../puppet-sysctl
[submodule "modules/tuned"]
	path = modules/tuned
	url = ../puppet-tuned
[submodule "modules/xinetd"]
	path = modules/xinetd
	url = ../puppet-xinetd
[submodule "modules/couchbase"]
	path = modules/couchbase
	url = ../puppet-couchbase
[submodule "modules/ovh"]
	path = modules/ovh
	url = ../puppet-ovh
[submodule "modules/quagga"]
	path = modules/quagga
	url = ../puppet-quagga
[submodule "modules/resolvconf"]
	path = modules/resolvconf
	url = ../puppet-resolvconf
[submodule "modules/tlsfiles"]
	path = modules/tlsfiles
	url = ../puppet-tlsfiles
[submodule "modules/nginx"]
	path = modules/nginx
	url = ../puppet-nginx
[submodule "modules/gdnsd"]
	path = modules/gdnsd
	url = ../puppet-gdnsd
[submodule "modules/libvirt"]
	path = modules/libvirt
	url = ../puppet-libvirt
[submodule "modules/openvpn"]
	path = modules/openvpn
	url = ../puppet-openvpn
[submodule "modules/nagios"]
	path = modules/nagios
	url = ../puppet-nagios
[submodule "modules/vsftpd"]
	path = modules/vsftpd
	url = ../puppet-vsftpd
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = ../puppet-mongodb
[submodule "modules/ipset"]
	path = modules/ipset
	url = ../puppet-ipset
[submodule "modules/dovecot"]
	path = modules/dovecot
	url = ../puppet-dovecot
[submodule "modules/selinux"]
	path = modules/selinux
	url = ../puppet-selinux
[submodule "modules/squid3"]
	path = modules/squid3
	url = ../puppet-squid3
[submodule "modules/geoip"]
	path = modules/geoip
	url = ../puppet-geoip
[submodule "modules/mailman"]
	path = modules/mailman
	url = ../puppet-mailman
[submodule "modules/samba"]
	path = modules/samba
	url = ../puppet-samba
[submodule "modules/glusterfs"]
	path = modules/glusterfs
	url = ../puppet-glusterfs
[submodule "modules/ntp"]
	path = modules/ntp
	url = ../puppet-ntp
[submodule "modules/postfix"]
	path = modules/postfix
	url = ../puppet-postfix
[submodule "modules/samba4"]
	path = modules/samba4
	url = ../puppet-samba4
[submodule "modules/cosmetic"]
	path = modules/cosmetic
	url = ../puppet-cosmetic
[submodule "modules/ssh"]
	path = modules/ssh
	url = ../puppet-ssh
[submodule "modules/root"]
	path = modules/root
	url = ../puppet-root
[submodule "modules/rhel"]
	path = modules/rhel
	url = ../puppet-rhel
[submodule "modules/f3backup"]
	path = modules/f3backup
	url = git@github.com:thias/puppet-f3backup
[submodule "modules/graylog2"]
	path = modules/graylog2
	url = git@github.com:thias/puppet-graylog2
